<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>

  <body>
    <!--Nvabar-->
    <%- include('../partials/navbar')%>

    <!-- Main -->
    <main class="mt-5">
      <div class="container">
        <div class="row">
          <div
            class="col-md-6 order-2 order-md-0 col-12 d-flex flex-column justify-content-center align-items-start"
          >
            <div>
              <h1 class="display-1">Discover the book treasure</h1>
              <a class="btn btn-primary btn-lg" href="/home">Explore Now</a>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <img src="/imgs/book-shelf.png" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <%- include('../partials/footer'); %>
    <!-- Bootstrap JS files -->
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
