<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-book fs-1"></i>
      Book store
    </a>
    <div class="d-flex gap-1 align-items-center">
      <a href="/profile" type="button" class="btn btn-outline-primary">
        <i class="fa-solid fa-circle-user me-2"></i>
        Profile
      </a>
      <a href="/register" type="button" class="btn btn-outline-primary"
        >Register</a
      >
      <a href="/login" type="button" class="btn btn-primary">Login</a>
    </div>
  </div>
</nav>
